#!/usr/bin/make -f

ARTIFACTS ?= .
DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

install/python-dream::
	python setup.py nosetests --with-coverage --cover-package=dream \
	    --with-xunit --xunit-file=$(ARTIFACTS)/xunit.xml
	python-coverage xml $(ARTIFACTS)/coverage.xml

